<form method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Delete Allowance</h5>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
</form>
