{# properties/partials/unit_confirm_delete.html #}
<form method="post" action="{% url 'unit_delete' pk=property.pk unit_pk=object.pk %}">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Delete Unit</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete unit <strong>{{ object.unit_number }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>
