<tr id="unit-{{ unit.id }}">
  <td>{{ unit.unit_number }}</td>
  <td>{{ unit.rent_amount }}</td>
  <td>{{ unit.meter_number }}</td>
  <td>
    {% if unit.is_occupied %}
      {{ unit.lease.tenant.full_name }}
    {% else %}
      Vacant
    {% endif %}
  </td>

  <td>
    {% if not unit.is_occupied %}
     <button
        class="btn btn-sm btn-success btn-add-tenant"
        data-url="{% url 'tenant_lease_create' unit.id %}"
        data-unit-number="{{ unit.unit_number }}"
        title="Add Tenant & Lease"
      >
        Add Tenant & Lease
      </button>

    {% else %}
      Occupied
      
    {% endif %}
  </td>

    <!-- Edit unit -->
  <td>
 <button
  class="btn btn-sm btn-primary btn-edit-unit"
  data-url="{% url 'unit_edit' pk=unit.property.pk unit_pk=unit.id %}"
  data-property-pk="{{ unit.property.pk }}"
  data-bs-toggle="modal"
  data-bs-target="#crudModal"
  title="Edit Unit"
>
  Edit
</button>

<button
  class="btn btn-sm btn-danger btn-delete-unit"
  data-url="{% url 'unit_delete' pk=unit.property.pk unit_pk=unit.id %}"
  data-property-pk="{{ unit.property.pk }}"
  data-bs-toggle="modal"
  data-bs-target="#crudModal"
  title="Delete Unit"
>
  Delete
</button>

  </td>
</tr>
